.gift-animation-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gift-main {
    position: relative;
    font-size: 100px;
    z-index: 2;
}

.gift-glow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    filter: blur(30px);
    opacity: 0.5;
    z-index: -1;
}

.gift-particle {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}